.container {
    position: relative;
    margin: 1.5em;
    width: 380px;
    border: 4px solid #2271D1; /* Cor de borda inicial */
    border-radius: 15px;
    overflow: hidden;
    background-color: #121212;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease;
}

.container:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.7);
}

.link {
    display: block;
    text-decoration: none;
    color: inherit;
}

.capa {
    object-fit: fill;
    object-position: center;
    display: block;
}

h2 {
    margin: 10px 0;
    font-size: 1.2rem;
    text-align: center;
    font-family: 'Source Sans 3', sans-serif;
    font-weight: 600;
    color: #ffffff;
}

.buttons {
    display: flex;
    margin: 0.5em;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-family: 'Source Sans 3', sans-serif;
    font-weight: 600;
    font-size: 0.9rem;
    color: white;
    padding: 8px 12px;
    background-color: transparent;
    border: 2px solid #ffffff;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.button:hover {
    background-color: #2271D1;
    border-color: #2271D1;
    color: white;
}

.icon {
    margin-right: 5px;
    width: 15px;
}
